* {
    padding: 0;
    margin: 0;
}


body {
    /*background-color: lightblue;*/
    /*
height: 3000px;
    min-height: 100vh;
*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#9faaa8, #ffffff, #5b4f4a)
}

h1 {
    font-family: mr-donaldson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    color: white;
    text-align: center;
}

h2 {
    font-family: p22-underground-sc, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: red;
    text-align: left;
}
h3{
    font-family: mrsblackfort-pro,sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 60px;
    color: white;
    text-align: center;
}
h4 {
    font-family: mr-donaldson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

section {
    height: 100vh;
    width: 100%;
    border: black 5px solid;

}

section#one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#opening {
    z-index: 1;
    top: 300px;
    position: relative;
    opacity: 50%;
transition:opacity 0.3s
    


}


.envelope {
/*        border: black 5px solid;*/
    width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#letter {
    width: 1000px;
    z-index: -1;
    position: absolute;
    /*    why do i need to add this?*/

}

.hide{
    opacity:0;
}

#letterclosed {
    width: 1000px;
    z-index: 0;
    position: absolute;
    align-content: center;
    transition: 5s;
}

#paper{
    width: 500px;
    bottom : 100px;
    z-index: -2;
    position: absolute;
    align-content: center;
}


.show {
    transform: translateY(100px);
    opacity: 1;
}

.fade-in {
opacity: 50%;
transition:opacity 0.8s
}

.fade-in:hover {
opacity:100%;
transition:opacity 0.5s
}







section#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collage {
    border: black 5px solid;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    width: 500px;
    height: 600px;
    border: blue 3px solid;
}


#first {
    width: 600px;
    z-index: -1;
    position: absolute;
}

#second {
    width: 30%;
    z-index: 0;
    position: absolute;
    top: -200px;
    left: 00px;
    filter: grayscale(100%);
    opacity: 85%;

}

#third {
    z-index: 1;
    top: 400px;
    left: -330px;
    position: absolute;
    opacity: 85%;
}

.imageone {

    width: 1000px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#move {
    margin-left: 1105px;
    margin-bottom: 125px;
}

#movetwo {
    margin-left: -355px;
    margin-bottom: 375px;
    transform: rotate(180deg);
}

#movethree {
    margin-left: -1285px;
    margin-bottom: 50px;
    transform: rotate(180deg);
}


.imagethree {
    top: 150px;
    position: absolute;
    align-items: center;

}

.open {
    width: 100vw;
    height: auto;
    border: red 0px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





















/*
#flexme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
*/


#three {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5b4f4a;

}

.inner {
    width: 600px;
    height: 600px;
    border: white 2px solid;
    justify-content: center;
}


.divider {
    height: 600px;
    width: 4px;
    background: white;
    border-radius: 100px;
}

















































#four {}





    /*
    max-width: 1000px;
    height: auto;
*/

    /*    align-content: center;*/
}






/*
img{
transform: translateX(300px);
opacity: 1;
transition: 2s ease all;
}
*/


/*
#animation {
    transform: translateX(1000px);
    opacity: 1;
    transition: 2s ease all;
}
*/













.footer {
    width: 100vw;
    height: auto;
    /*
    position: fixed;
    bottom: 0;
*/
    /*how do i make this the viewport width?*/
}

.responsive {
    width: 100%;
    height: auto;
}

h1:hover {
    color: black;
}
