body{
/*background-color: lightblue;*/
height: 3000px;
    min-height: 100vh;
    
    background:linear-gradient(#9faaa8,#ffffff,#5b4f4a)

}

h1{
    
   font-family: p22-underground-sc, sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 650px;
     z-index: 0;
    
    
}

.envelope{
    max-width: 1000px;
        height:auto;
    z-index: -1;
    margin-top:-900px;
    position: relative;
    text-align: center;
}

.footer{
    width: 100vw;
    height: auto;
    position: fixed;
    bottom:0;
/*how do i make this the viewport width?*/
}

.responsive{
    width:100%;
        height:auto;
}
h1:hover{
    color: black;
}